.productcard {
  position: relative;
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #f7ede5;
  border-radius: 2px;
  height: 400px;
  width: 80%;
  margin-bottom: 1%;
}

.productcard img {
  margin-left: 50%;
  object-fit: cover;
}

.item__description {
  background-color: #f8f7f6;
  width: 50%;
  height: 103%;
  object-fit: cover;
  padding-left: 6%;
  right: 0px;
  
}
 
.item__description h2 {
  font-weight: 600;
  margin-left: 0px;
}

.item__description p {
  font-size: larger;
}

.product__price {
 font-weight: 900;
 font-size:2vmax;
 
}

.item__description button {
  margin-top: 15px;
  padding: 0px;
  width: 200px;
  background-color: black;
  color: #f7ede5;
  border-radius: 0px;
  font-family: 'Outfit', sans-serif;
  border: none;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  font-size: x-large;
  transition-duration: 0.4s;
}

.item__description button:hover,
.item__description button:active,
select {
  background-color: #FFFFFF;
  color: black;
  outline: #000000 solid 2px;
}
